
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1491802753919'); /* IE9*/
  src: url('iconfont.eot?t=1491802753919#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1491802753919') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1491802753919') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1491802753919#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-person:before { content: "\e63c"; }

.icon-sigekuang:before { content: "\e616"; }

.icon-kongxinhua:before { content: "\e64c"; }

.icon-book-copy-copy-copy:before { content: "\f015a"; }

.icon-qizhi-kongxin:before { content: "\e8a8"; }

