/*=reset Start*/
body,button,figure,h1,h2,h3,input,p,span,textarea,ul{margin:0;padding:0}
a{text-decoration:none}
img{display:block}
li{list-style:none}
button,input,option,select,textarea{border:none;border:none}
textarea{resize:none}
button:focus,input:focus,option:focus,select:focus,textarea:focus{outline:0}
select{appearance:none;-moz-appearance:none;-webkit-appearance:none}
select::-ms-expand{display:none}
.clearfix{zoom:1}
.clearfix::after{clear:both;display:block;visibility:hidden;height:0;content:","}
body{background:#fff;color:#000;font:14px SimHei,"Microsoft YaHei",SimSun,sans-serif}
/*=reset End*/