footer{
    height: 60px;
    background-color: #30303a;
    font: 12px/60px SimSun;
    color: #fff;
    padding-left: 100px;

    .right{
        float: right;
        margin-right: 40px;
        color: #fff;
    }
}
