.unknown{
    height: 361px;
    padding-top: 90px;
    background-color: #ededec;
    text-align: center;

    .iconfont{
        font-size: 90px;
        color: $red-color;
    }

    p{
        margin-top: 50px;
        text-align: center;
        font-size: 54px;
        color: #a1a1a1;
    }
}