body{
    margin: 0 10px;
    padding: 0;
}
.item{
    float: left;
    margin: 22px 10px;
    height: 50px;
    border: 1px solid #999;
    background-color: #eee;
}


@media screen and (min-width: 768px) {
    .col-sm-4{
        width: calc(100%/3 - 22px);
    }
    .col-sm-3{
        width: calc(100%/4 - 22px);
    }
    .col-sm-6{
        width: calc(100%/2 - 22px);
    }
    .col-sm-1{
        width: calc(100%/12 - 22px);
    }
    .col-sm-2{
        width: calc(100%/6 - 22px);
    }
}

@media screen and (max-width: 768px) {
    .col-xs-6{
        width: calc(100%/2 - 22px);
    }
    .col-xs-12{
        width: calc(100% - 22px);
    }
    .col-xs-3{
        width: calc(100%/4 - 22px);
    }
    .col-xs-2{
        width: calc(100%/6 - 22px);
    }
    .col-xs-8{
        width: calc(100%*8/12 - 22px);
    }
}