/*=function Start*/
.f-clr{*zoom:1;}
.f-clr:after,.f-clr:before{content:"";display:block;height:0;visibility:hidden;clear:both;}
.f-db{display: block}
.f-dib{display: inline-block;vertical-align: top;}
.f-fltL{float:left;}
.f-fltR{float:right;}
.f-fltN{float:none;}
.f-setCenter{margin:0 auto;}
.f-tc{text-align: center;}
.f-tr{text-align: right;}
.f-title{font-weight: bold;}
.f-full{width: 100%;height: 100%}
/*=function End*/
